<div class="row" ng->	
	<br/>
	<div class="col-md-12">
		<table class="table">
			<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>No of Wins</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="winningPlayer in winningList | orderBy : '-usercount' ">
				<td>{{winningPlayer.firstName}}</td>
				<td>{{winningPlayer.lastName}}</td>
				<td>{{winningPlayer.username}}</td>
				<td>{{winningPlayer.email}}</td>
				<td>{{winningPlayer.usercount}}
			</tr>
			
			<tr ng-show="winningList == null"  class="noData"  >
				
				<td colspan="5">No data available</td>
			</tr>
			</tbody>
		</table> 
		
	</div>
</div>
